src/main/mule/mule_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c280acd9-78f2-4a38-b7dc-87de543d276c" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="mule_projectFlow" doc:id="5a75fa59-bd36-4c34-b1e2-6d57e8a44174" >
		<http:listener doc:name="Listener" doc:id="fd1000d2-89c0-4d54-ba7d-8f7a2a75ffc2" config-ref="HTTP_Listener_config" path="/db"/>
		<ee:transform doc:name="Transform Message" doc:id="47755891-8591-4f83-8802-ab0a2f01b259" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"a": "B"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="030dcd56-3fb3-406e-8ee9-e50177f45592" message="#[payload]"/>
	</flow>
</mule>
